{% extends 'base.html' %}
{% load i18n %}

{% block title %} {{ instance.name }} {% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="card shadow-sm p-3">
        {% for item in queryset %}
            <h2 class="text-center">{{ item.name }}</h2>
            <div class="mt-3 text-center">
                <p class="text-center">{{ item.description|safe }}</p>
            </div>
        {% empty %}
            <p class="text-center">{% trans "No content available." %}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
