{% extends 'base.html' %}

{% block title %} Terms Page {% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card mb-4">
            {% for item in term_list %}
                {% if not item.category.is_test_page and not item.category.is_enter_page %}
                    <div class="divider">
                        <div class="divider-text">{{ item.category.name }} (Terms: {{ item.terms.count }})</div>
                        <div class="row d-flex flex-wrap gap-2 w-100 demo-vertical-spacing m-2">
                            {% for term in item.terms %}
                                <div class="col-2">
                                    <button type="button"
                                            class="btn btn-primary text-nowrap w-100"
                                            data-bs-toggle="popover"
                                            data-bs-offset="0,14"
                                            data-bs-placement="right"
                                            data-bs-html="true"
                                            data-bs-content="<p>{{ term.description|escape }}</p>
                                                            <div class='d-flex justify-content-between'>
                                                                <button type='button' class='btn btn-sm btn-outline-secondary'>Skip</button>
                                                                <button type='button' class='btn btn-sm btn-primary'>Read More</button>
                                                            </div>"
                                            title="{{ term.name|escape }}">
                                        {{ term.name }}
                                    </button>
                                </div>
                            {% empty %}
                                <p class="text-muted">No terms available for this category.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        popoverTriggerList.forEach(el => new bootstrap.Popover(el));
    });
</script>

{% endblock %}
